* {
	margin: 0;
	padding: 0;
}
header {

}
.header__game-name {
	display: flex;
	background-color: #0BD5C3;
	font-family: "Comic Sans MS";
	font-size: 36px;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: center;

}
.header__game-name:hover{
    font-size: 46px;
    color: #568C08;
    transition: 3s;
}
.header_logo {
	display: flex;

}
.developer {
	background-color: #003153
}
.developer:hover{ 
	background: #F34723;
 }
.developer__title {
	font-size: 36px;
	font-family: "Comic Sans MS";
	;
	color: #ffffff;
	text-align: center;
}
.developer__name {
	font-size: 36px;
	font-family: "Comic Sans MS";
	
	color: #ffffff;
	text-align: center;
}
.developer__group-option {
	font-size: 36px;
	font-family: "Comic Sans MS";
	
	color: #ffffff;
	text-align: center;
}
.description {
	background-color: #568C08;
	text-align: center;
}
.description__title, .description__game{
	font-size: 36px;
	font-family: "Comic Sans MS";
}

.images {
    background-color: #BD33A4;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}

.images__title {
	display: inline-flex;
	justify-content: center;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
}

.images__content {
	display: inline-flex;
	justify-content: space-between;
}

.img1 {
	width: 600px;
	height: 400px;
}

.img2 {
	width: 600px;
	height: 400px;
}

.img3 {
	width: 600px;
	height: 400px;
}

.images__title:hover{
    font-size: 46px;
    color: darkblue;
    transition: 2.5s;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.start h1 {
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
}
.start a {
	display: block;
	text-decoration: none;
        color: white;
    height: 100%
    border: none;
    width: 100%;
    font-size: 22px;
    font-family: 'Comic Sans MS', sans-serif;
}
.start {
    margin: 0 auto;
    background-color: #755D9A;
}
button {
    background-color: #34C924;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    width: 100%;
    font-size: 18px;
    font-family: 'Comic Sans MS', sans-serif;
}
label {
	color: white;
	text-align: center;
	font-style: 20px;
}
.osm {
    position: fixed;
    top: 0px;
    left: 1600px;
    animation: osm 20s ease-in infinite;
    transform: scaleX(-1);
}

.fish {
	position: fixed;
    top: 530px;
    left: -200px;
    animation: fish 10s ease-in infinite;
    
}
.buttons a{

	text-decoration: none;
        color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    width: 100%;
    font-size: 18px;
    font-family: 'Comic Sans MS', sans-serif;
}


@keyframes osm {
    100% {
      top : 100vw;
    }
}

@keyframes fish {
    100% {
      left : 100vw;
    }
}