* {
	margin: 0;
	padding: 0;
}

ul {
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 28px;
	list-style: none;
	display: flex;
	padding: 1em 0;
	justify-content:space-around;
}
a {
	text-decoration: none;
}
.menu {
	background-color: #BFFF00;
}
.result{ 
	font-family: 'Comic Sans MS', sans-serif;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 36px;
	width: 100%;
	background-color: #1164B4;
	text-align: center;	
 }
 .hint{
 	animation-name: hint;
 	animation-duration: 5s;
 	font-size: 36px;
 	font-family: 'Comic Sans MS', sans-serif;
    padding-top: 15px;
	padding-bottom: 15px;
	background-color: #009B77;
	text-align: center;
	
	animation-fill-mode: forwards;
 }
@keyframes hint {
    from {
     opacity: 1;
     
    }
    to {
     opacity: 0;
     transform: none;
    }
}